
<div>
    <h2 class="text-center">{{vm.movieList.name}}</h2>
    <hr>
    <div class="row">
        <div class="text-center" style="margin-bottom: 15px;">

            <button type="button" ui-sref="movie-list-detail.edit({id:vm.movieList.id})" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="hidden-sm-down"> Rename</span>
            </button>

            <button type="submit"
                    ui-sref="movie-list-detail.delete({id:vm.movieList.id})"
                    class="btn btn-danger">
                <span class="glyphicon glyphicon-remove-circle"></span>
                <span class="hidden-sm-down"> Delete List</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="movie in vm.movieList.movies track by movie.id" class="col-md-4 col-sm-6">
            <div class="thumbnail-wrapper">
                <div class="thumbnail">
                    <div class="movie-poster-wrapper">
                        <img class="card-img-top" ng-src="{{movie.image}}"
                                alt="{{movie.title}}" onerror="this.src='/content/images/image-404-alt.png'">
                    </div>
                    <div class="caption">
                        <h3 class="card-title">{{movie.title}} ({{movie.year}})</h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td>IMDB Rating:</td>
                                    <td>{{movie.imdbRating.toFixed(1)}}</td>
                                </tr>
                                <tr>
                                    <td>RT Critic Score:</td>
                                    <td>{{movie.criticScore || 0}}{{movie.criticScore >= 0 ? '%' : 'NA'}}</td>
                                </tr>
                                <tr>
                                    <td>RT User Score:</td>
                                    <td>{{movie.userScore || 0}}{{movie.userScore >= 0 ? '%' : 'NA'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <button type="submit"
                                ng-click="vm.removeMovie(movie.id, vm.movieList.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down"> Remove</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
