<div ng-cloak>
    <div class="row">
        <form class="form-group" ng-submit="vm.doSearch()">
            <div class="col-xs-10 col-md-6 col-md-offset-3">
                <input type="text" ng-model="vm.inputText" class="form-control" placeholder="Search by title or keyword">
            </div>
            <input type="submit" class="btn btn-default" value="Search">
        </form>
    </div>
    <div class="row">
        <div class="col-sm-3 filter-panel">
            <h4>Sorting</h4>
            <select ng-model="vm.predicate" class="form-control" ng-change="vm.doSearch()">
                        <option ng-repeat="sortOrder in vm.sortList" value="{{sortOrder.value}}">{{sortOrder.name}}</option>
                        <option value="" disabled selected hidden>Sort Order</option>
                    </select>
            <label>
                <input type="radio" ng-model="vm.direction" value="asc" ng-change="vm.doSearch()"> Ascending
            </label>
            <label>
                <input type="radio" ng-model="vm.direction" value="desc" ng-change="vm.doSearch()"> Descending
            </label>
            <h4>Year</h4>
            <rzslider rz-slider-model="vm.yearMin"
                      rz-slider-high="vm.yearMax"
                      rz-slider-options="vm.yearSlider"></rzslider>
            <h4>IMDB Rating</h4>
            <rzslider rz-slider-model="vm.imdbMin"
                      rz-slider-high="vm.imdbMax"
                      rz-slider-options="vm.imdbSlider"></rzslider>
            <h4>Rotten Tomatoes Critic</h4>
            <rzslider rz-slider-model="vm.criticMin"
                      rz-slider-high="vm.criticMax"
                      rz-slider-options="vm.criticSlider"></rzslider>
            <h4>Rotten Tomatoes User</h4>
            <rzslider rz-slider-model="vm.userMin"
                      rz-slider-high="vm.userMax"
                      rz-slider-options="vm.userSlider"></rzslider>
            <h4>Keywords</h4>
            <div class="types">
                <label ng-repeat="type in vm.types">
                    <input type="checkbox" checklist-change="vm.doSearch()" checklist-model="vm.selectedTypes" checklist-value="type"> {{type}}
                </label>
            </div>
        </div>
        <div class="col-sm-9">
            <div ng-repeat="movie in vm.movies track by movie.id" class="col-md-4 col-sm-6" ng-init="hideLists = true">
                <div class="thumbnail-wrapper">
                    <div class="thumbnail" ng-style="thumbnailStyle">
                        <div class="movie-poster-wrapper">
                            <img class="card-img-top" ng-src="{{movie.image}}"
                                 alt="{{movie.title}}" onerror="this.src='/content/images/image-404-alt.png'">
                        </div>
                        <div class="caption">
                            <h3 class="card-title">{{movie.title}} ({{movie.year}})</h3>
                            <table style="margin-bottom: 10px;">
                                <tbody>
                                    <tr>
                                        <td>IMDB Rating:</td>
                                        <td>{{movie.imdbRating.toFixed(1)}}</td>
                                    </tr>
                                    <tr>
                                        <td>RT Critic Score:</td>
                                        <td>{{movie.criticScore || 0}}{{movie.criticScore >= 0 ? '%' : 'NA'}}</td>
                                    </tr>
                                    <tr>
                                        <td>RT User Score:</td>
                                        <td>{{movie.userScore || 0}}{{movie.userScore >= 0 ? '%' : 'NA'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center" style="width:100%;">
                                <button ng-click="hideLists = !hideLists; thumbnailStyle = hideLists ? {} : {'filter': 'brightness(70%)'}" class="btn btn-default">Add To List</button>
                                <div style="position:absolute; z-index: 3; top: 50%; left: 50%; transform: translate(-50%, -100%); width: 60%;" ng-hide="hideLists">
                                    <div ng-repeat="movieList in vm.movieLists" class="text-center">
                                        <span>
                                            <button ng-click="vm.addList(movie.id, movieList.id)" class="btn btn-primary" style="width: 100%; margin-bottom: 5px;">{{movieList.name}}</button>
                                            <br>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
            <div class="search-pagination pull-right">
                <ul uib-pagination total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()" boundary-link-numbers="true" rotate="false"></ul>
            </div>
        </div>
    </div>
</div>
